
/*Общие стили*/
body {
	min-width: 1280px;
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	color: #333333;

	background-color: #f2f2f2;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
	font: inherit;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;

	border: none;
	cursor: pointer;
}

.button:hover,
.button:focus {
	color: #ffffff;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
}

.button-brown {
	background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
	background-color: #604e43;
}

.button-brown:active {
	background-color: #503e33;
}

.button-blue {
	background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
	background-color: #669ec0;
}

.button-blue::active {
	background-color: #5496bd;
}

/*Обертка для body*/

.wrapper {
	min-width: 768px;
  	max-width: 1200px;
	margin: 0 auto;

	background-color: #ffffff;	
	box-shadow: -5px 0 15px rgba(0, 1, 1, 0.2),
    			5px 0 15px rgba(0, 1, 1, 0.2);
}



/*Header*/

.main-navigation {
	display: flex;
	position: relative;
	min-height: 56px;
}

.main-header-logo {
	width: 138px;
  	height: 70px;
	position: absolute;
	left: 50%;
	top: 0;

	transform: translateX(-50%);
}

.site-navigation {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation li {
	width: 240px;

	text-align: center;
	vertical-align: middle;
}

.site-navigation li:nth-child(2) {
	margin-right: 240px;
}

.site-navigation a {
	display: block;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 18px;
	
	line-height: 26px;
	text-decoration: none;
	color: #000000;
	font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation .site-navigation-current {
	color: #766357;
}

/*Main*/

.container {
	text-align: center;
}

.resons-content .promo {
	width: 1200px;
	height: 564px;

	margin-bottom: 59px;
}

.resons-content .main-title {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.resons-content .promo-text {
	margin: 0;
	padding: 0;
	margin-bottom: 52px;

	line-height: 26px;
	color: #333333;
}

.resons .resons-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.resons-list .reson-item {
	display: flex;
	flex-direction: row;
}

.reson-item .reson-item-info {
	font: inherit;
	width: 400px;
	margin: 0;
	padding: 0px 60px;
	padding-top: 47px;

	color: #ffffff;

	background-color: #81b3d2;
}

.reson-item-info .reson-item-title {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;

	font-size: 21px;
	font-weight: 700;
}

.reson-item-info .reson-item-number {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}

.reson-item-info .reson-item-number::before,
.reson-item-info .reson-item-number::after {
	content: "";
	width: 9px;
	height: 2px;

	background-color: #ffffff;
}

.reson-item-info .reson-item-number::before {
	margin-right: 6px;
}

.reson-item-info .reson-item-number::after {
	margin-left: 6px;
}


.reson-item-info .reson-item-text {
	margin: 0;
	padding: 0;
}

.reson-item .reson-photo {
	width: 800px;
	height: 256px;
}

.resons-item .features-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;

	list-style: none;

	background-color: #ffffff;
}

.features-list .features-item {	
	position: relative;
	width: 33%;
	padding: 162px 20px 84px 20px;

	text-align: center;
}

.features-list .features-item::before {
	content: "";
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -37px;
	width: 75px;
	height: 75px;

	background-repeat: no-repeat;
	background-position: 0 0;
}

.features-list .features-icon-1::before {
	background-image: url("../img/icon-1.svg");
}

.features-list .features-icon-2::before {
	background-image: url("../img/icon-3.svg");
}

.features-list .features-icon-3::before {
	background-image: url("../img/icon-2.svg");
}

.features-item .features-title {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;

	font-size: 21px;
	color: #000000;
}

.features-item .features-text {
	margin: 0;
	padding: 0;
}

.reson-item .reson-gray-list {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.reson-gray-list .reson-item-gray {
	width: 400px;
	padding: 50px 20px;

	background-color: #eeeeee;
	box-sizing: border-box;
}

.reson-item-gray .item-title-gray {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;

	color: #000000;
}

.reson-item-gray .item-number-gray {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
}

.reson-item-gray .item-number-gray::before,
.reson-item-gray .item-number-gray::after {
	content: "";
	width: 9px;
	height: 2px;

	background-color: #b4b4b4;
}

.reson-item-gray .item-number-gray::before {
	margin-right: 6px;
}

.reson-item-gray .item-number-gray::after {
	margin-left: 6px;
}

.reson-item-gray .item-text-gray {
	margin: 0;
	padding: 0;
} 

.search {
	padding-top: 49px;
}

.search .search-title {
	margin: 0;
	padding: 0;
	margin-bottom: 26px;

	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #000000;
}

.search .search-text {
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

.search-button {
	width: 568px;
	min-height: 86px;
	margin-left: auto;
	margin-right: auto;

	font: inherit;
	font-size: 21px;
	line-height: 26px;
}

.search .search-wrapper {
	position: absolute;
	left: 50%;
	width: 568px;
	margin: 0;
	margin-left: -284px;
	padding: 55px;

	background-color: #ffffff;
	box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);

	z-index: 10;
	box-sizing: border-box;
}

.form-search {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	width: 100%;

	font: inherit;
	font-weight: 700;
	line-height: 26px;	
}

.form-search .search-option {
	display: flex;
	align-items: baseline;
	position: relative;	
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

.form-search .search-option label {
	min-width: 108px;
	margin: 0;
	padding: 0;
	margin-right: 18px;

	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.search-option input {
	padding: 0;
	margin: 0;
	margin-left: auto;
	padding-right: 38px;
	padding-left: 12px;
	width: 346px;
	height: 38px;

	font-size: inherit;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	border: none;
	box-sizing: border-box;
	background-color: #f2f2f2;
}

.search-option input:hover {
	background-color: #ebebeb;
}

.search-option input:focus {
	background-color: transparent;
	outline: 2px solid #eeeeee;
}

.calendar-arrival,
.calendar-departure {
	position: absolute;
	top: 19px;
	right: 19px;
	padding: 0;
	margin: 0;

	background: none;
	border-style: none;
}

.search-button-arrival {
	position: absolute;
	top: 0%;
	left: 50%;
	margin: 0;
	margin-right: -50%;
	transform: translate(-50%, -50%);

	fill: #a9a9a9;
}

.search-button-arrival:hover path,
.search-button-arrival:focus path {
	fill: #000000;
}

.search-button-arrival:active path {
	fill: #81b3d2;
}

.button-minus,
.button-plus {
	background-color: #f2f2f2;
}

.hotels-search-button {
	width: 100%;
	padding: 16px 0;

	font: inherit;
	font-size: 21px;
	line-height: 26px;
}

.adult-and-children {
	display: flex;
	justify-content: space-between;
	margin-bottom: 54px;
}

.adult-and-children .adult-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.adult-container label {
	margin-right: 40px;
}

.adult-and-children .children-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 180px;
}

.number-container {
	display: flex;
	justify-content: space-between;
	width: 114px;
	height: 38px;
}

.number-container .button-minus,
.number-container .button-plus {
	position: relative;
	flex-grow: 1;
	width: 30px;
	height: 38px;

	background-color: #f2f2f2;
}

.number-container .button-minus::before {
	content: "";
	position: absolute;
	top: 18px;
	left: 13px;
	width: 12px;
	height: 3px;

	background-color: #a9a9a9;
}

.number-container .button-plus::before {
	content: "";
	position: absolute;
	top: 18px;
	left: 13px;
	width: 12px;
	height: 3px;

	background-color: #a9a9a9;
}

.number-container .button-plus::after {
	content: "";
	position: absolute;
	top: 18px;
	left: 13px;
	width: 12px;
	height: 3px;

	background-color: #a9a9a9;
	transform: rotate(90deg);
}

.number-container .button-minus:hover::before,
.number-container .button-plus:hover::before,
.number-container .button-plus:hover::after {
	background-color: #000000;
}

.number-container .button-minus:focus::before,
.number-container .button-plus:focus::before,
.number-container .button-plus:focus::after {
	background-color: #000000;
}

.number-container .button-minus:active::before,
.number-container .button-plus:active::before,
.number-container .button-plus:active::after {
	background-color: #81b3d2;
}

.number-container input {
	flex-grow: 1;
	width: 38px;

	text-align: center;
	border: none;
	background-color: #f2f2f2;
}

.map {
	width: 1200px;
	height: 593px;
}

/*Стили внутренней страницы*/

.inner-container {
	display: flex;
	flex-direction: column;

	/*Временно для сетки*/
	outline: 2px solid black;
}

.filters {
	font-family: "PT Sans", "Arial", sans-serif;
	color: #ffffff;

	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #83a2c1;
}

.filters .filter {
	display: flex;
	padding: 30px 73px;

	/*Временно для сетки*/
	outline: 2px solid green;
}

.filter fieldset {
	border: none;
}

.filter legend,
.filter-range-title {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.filter .filter-list {
	list-style: none;
}

.filter-option label {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.price-controls {
	border: 2px solid #ffffff;
}

.price-controls input {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #ffffff;

	background-color: transparent;
	border: none;
}

.min-price,
.max-price {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.filter-button {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;

	background-color: transparent;
	border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
	color: #000000;
	background-color: #ffffff;
}

.sort {
	padding-top: 29px;
	padding-bottom: 32px;
	padding-left: 73px;
	padding-right: 73px;

	border-bottom: 1px solid #f6f6f6;
}

.sort .sort-resalt {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.sort .sort-title {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.sort .sort-list {
	font-size: 12px;
	line-height: 18px;
	list-style: none;
}

.sort-link {
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sort-link:hover,
.sort-link:focus {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.sort-link:active {
	color: #000000;
	border: none;
}

.sort-link-active {
	color: #81b3d2;

	border: none;
}

.sort-list-arrow {
	list-style: none;
}

.catalog-hotels .hotels-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.hotels-list .hotels-item {
	padding: 30px  73px;

	border-bottom: 1px solid #f6f6f6;

	/*Временно для сетки*/
	outline: 2px solid purple;
}

.hotels-title {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.hotels-title:hover,
.hotels-title:focus {
	color: #81b3d2;
}

.hotels-title:active {
	color: rgba(0, 0, 0, 0.3);
}


.hotels-detail {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	color: #ffffff;
	text-decoration: none;

	background-color: #81b3d2;
}

.hotels-booking {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	color: #ffffff;
	text-decoration: none;

	background-color: #766357;
}

.hotels-rating {
	color: #666666;

	background-color: #f2f2f2;
}

/*Подвал*/

.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	bottom: 0;
	padding: 36px 73px;

	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
}

.main-footer .hashtag {
	width: 240px;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
	text-decoration: none;
}

.main-footer .social-list {
	display: flex;
	justify-content: center;
	width: 400px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.social-list .social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;
	margin-right: 6px;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active {
  fill-opacity: 0.3;
}

.copyright {
	display: flex;
	align-items: center;
	width: 240px;
	margin: 0;
	padding: 0;
}

.copyright span {
	margin-left: 15px;
	margin-right: 8px;

	color: #000000;
	line-height: 26px;
}

.copyright-link:hover svg path,
.copyright-link:focus svg path {
	fill: #81b3d2;
}

.copyright-link:active svg path {
	fill: #bdbbbc;
}



