body {
	min-width: 1280px;
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	color: #333333;

	background-color: #f2f2f2;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;

	background-color: #ffffff;	
	box-shadow: 0px 0px 40px 2px #dbdbdb;
}

.main-navigation {
	display: flex;
	position: relative;
	min-height: 56px;

	/*Временно для сетки*/
	outline: 2px solid red;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	top: 0;
	width: 138px;
	transform: translateX(-50%);
}

.site-navigation {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation li {
	width: 240px;

	text-align: center;
	vertical-align: middle;
}

.site-navigation li:nth-child(2) {
	margin-right: 240px;
}

.site-navigation a {
	display: block;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 18px;
	
	line-height: 26px;
	text-decoration: none;
	color: #000000;
	font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation .site-navigation-current {
	color: #766357;
}

.container {
	text-align: center;
}

.resons-content {

	/*Временно для сетки*/
	outline: 2px solid green;
}

.resons-content .promo {
	width: 1200px;
	height: 564px;

	margin-bottom: 59px;
}

.resons-content .main-title {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.resons-content .promo-text {
	margin: 0;
	padding: 0;
	margin-bottom: 52px;

	line-height: 26px;
	color: #333333;
}

.resons .resons-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;

	/*Временно для сетки*/
	outline: 2px solid yellow;
}

.resons-list .reson-item {
	display: flex;
	flex-direction: row;
}

.reson-item .reson-item-info {
	width: 400px;
	color: #ffffff;

	background-color: #81b3d2;

	/*Временно для сетки*/
	outline: 2px solid orange;
	min-height: 256px;s
}

.reson-item .reson-photo {
	width: 800px;
	height: 256px;

	/*Временно для сетки*/
	outline: 2px solid orange;
}

.reson-item-info .reson-item-title {
	margin: 0;
	padding: 0;

	font-size: 21px;
	font-weight: 700;
}

.reson-item-info .reson-item-text {
	margin: 0;
	padding: 0;
}

.resons-item .features-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;

	list-style: none;

	background-color: #ffffff;
}

.features-item {	
	width: 400px;

	/*Временно для сетки*/
	min-height: 330px;
	outline: 2px solid orange;
}

.features-item .features-title {
	margin: 0;
	padding: 0;

	font-size: 21px;
	color: #000000;
}

.features-item .features-text {
	margin: 0;
	padding: 0;
}

.reson-item .reson-gray-list {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.reson-gray-list .reson-item-gray {
	width: 400px;

	background-color: #eeeeee;

	/*Временно для сетки*/
	outline: 2px solid orange;
	min-height: 256px;
}

.reson-item-gray .item-title-gray {
	margin: 0;
	padding: 0;

	color: #000000;
}

.reson-item-gray .item-text-gray {
	margin: 0;
	padding: 0;
} 

.search {
	padding-top: 49px;
	/*Временно для сетки*/
	outline: 2px solid cyan;
}

.search .search-wrapper {
	position: relative;
}

.search .search-title {
	margin: 0;
	padding: 0;
	margin-bottom: 26px;

	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #000000;
}

.search .search-text {
	margin: 0;
	padding: 0;
	margin-bottom: 42px;
}

.form-search {
	position: absolute;
	top: 153px;

	/*Временно, потом подобрать точное значение*/
	left: 300px;
	width: 568px;
	height: 395px;

	background-color: #ffffff;
	box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
	z-index: 10;

	/*Временно для сетки*/
	outline: 2px solid black;
}

.button {
	font-family: "PT Sans", "Arial" sans-serif;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;

	border: none;
}

.button:hover,
.button:focus {
	color: #ffffff;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
}

.button-brown {
	background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
	background-color: #604e43;
}

.button-brown:active {
	background-color: #503e33;
}

.search-button {
	font-size: 21px;
	line-height: 26px;
}

.button-minus,
.button-plus {
	background-color: #f2f2f2;
}

.button-blue {
	background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
	background-color: #669ec0;
}

.button-blue::active {
	background-color: #5496bd;
}

.hotels-search-button {
	font-size: 21px;
	line-height: 26px;
}

.form-search .search-option label {
	margin: 0;
	padding: 0;

	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.search-option input {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;

	border: none;
	background-color: #f2f2f2;
}

.search-option input:hover {
	background-color: #ebebeb;
}

.search-option input:focus {
	background-color: #ffffff;
	border: 2px solid #eeeeee;
}

.map {
	width: 1200px;
	height: 593px;
}

/*Стили внутренней страницы*/

.inner-container {
	display: flex;
	flex-direction: column;

	/*Временно для сетки*/
	outline: 2px solid black;
}

.filters {
	font-family: "PT Sans", "Arial", sans-serif;
	color: #ffffff;

	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #83a2c1;
}

.filters .filter {
	display: flex;
	padding: 30px 73px;

	/*Временно для сетки*/
	outline: 2px solid green;
}

.filter fieldset {
	border: none;
}

.filter legend,
.filter-range-title {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.filter .filter-list {
	list-style: none;
}

.filter-option label {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.price-controls {
	border: 2px solid #ffffff;
}

.price-controls input {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #ffffff;

	background-color: transparent;
	border: none;
}

.min-price,
.max-price {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.filter-button {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;

	background-color: transparent;
	border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
	color: #000000;
	background-color: #ffffff;
}

.sort {
	padding-top: 29px;
	padding-bottom: 32px;
	padding-left: 73px;
	padding-right: 73px;

	border-bottom: 1px solid #f6f6f6;
}

.sort .sort-resalt {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.sort .sort-title {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.sort .sort-list {
	font-size: 12px;
	line-height: 18px;
	list-style: none;
}

.sort-link {
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sort-link:hover,
.sort-link:focus {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.sort-link:active {
	color: #000000;
	border: none;
}

.sort-link-active {
	color: #81b3d2;

	border: none;
}

.sort-list-arrow {
	list-style: none;
}

.catalog-hotels .hotels-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.hotels-list .hotels-item {
	padding: 30px  73px;

	border-bottom: 1px solid #f6f6f6;

	/*Временно для сетки*/
	outline: 2px solid purple;
}

.hotels-title {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.hotels-title:hover,
.hotels-title:focus {
	color: #81b3d2;
}

.hotels-title:active {
	color: rgba(0, 0, 0, 0.3);
}


.hotels-detail {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	color: #ffffff;
	text-decoration: none;

	background-color: #81b3d2;
}

.hotels-booking {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	color: #ffffff;
	text-decoration: none;

	background-color: #766357;
}

.hotels-rating {
	color: #666666;

	background-color: #f2f2f2;
}

/*Подвал*/

.main-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	bottom: 0;
	min-width: 1200px;
	min-height: 120px;

	text-align: center;
	background-color: rgba(253, 252, 252, 0.9);

	/*Временно для сетки*/
	outline: 2px solid cyan;
}

.main-footer .hashtag {
	width: 400px;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
	text-decoration: none;

	/*Временно для сетки*/
	outline: 2px solid yellow;
}

.main-footer .social-list {
	width: 400px;
	margin: 0;
	padding: 0;

	list-style: none;

	/*Временно для сетки*/
	outline: 2px solid yellow;
}

.copyright {
	width: 400px;
	margin: 0;
	padding: 0;

	/*Временно для сетки*/
	outline: 2px solid yellow;
}

.copyright span {
	color: #000000;
	line-height: 26px;
}

.copyright-link:hover svg path,
.copyright-link:focus svg path {
	fill: #81b3d2;
}

.copyright-link:active svg path {
	fill: #bdbbbc;
}



